@media (min-width: 1000px) and (max-width:1100px) {
    #showcase .showcase-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
}


/* ........................... */
/* Utility Section */
.py-1 {padding: .8rem 0;}
.py-2 {padding: 1rem 0;}
.py-3 {padding: 1.4rem 0;}
.p-1 {padding: .8rem 0;}
.p-2 {padding: 1rem 0;}
.p-3 {padding: 1.4rem 0;}

.m-heading {
    font-size: 1rem;
    padding: .5rem;
}

#butt {
    letter-spacing: 1rem;
}

.btn {
   padding: .3rem .75rem; 
   font-size: .8rem;
}

.btn:hover {
    font-size: 1rem;
}

.btn a {
    padding: .35rem;
}

.reg {
    margin-top: .75rem;
}


/* Navbar Section: This section is about the mobile view navbar less than 500px */
#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#navbar .logo {
    padding: 1.6rem;
    /* margin-left: 3rem; */
}

#navbar .logo h1 {
    font-size: 1.2rem;
    letter-spacing: normal;
}


#navbar .logo img {
    width: 20px;
    height: 20px;
    /* margin right: .2rem; */
}


#navbar .social {
    padding: -2rem;
}

.socials {
    display: flex;
    padding: .5rem 0;
}

#navbar ul {
    display: none;
}

/* #navbar ul li {
    padding: 1rem .3rem;
    font-size: .75rem;
}

#navbar ul li a {
    padding: .3rem .5rem;
    cursor: pointer;
} */


#showcase {
    height: 100vh;
    padding: 1rem;
}


#showcase .showcase-container {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    text-align: justify;
    align-content: center;
    /* margin: 1.2rem auto; */
    padding: 0 1rem;
}

#showcase .showcase-content  h1, 
#showcase .showcase-content h4 {
    font-size: 1rem;
    text-align: center;
}

#showcase .showcase-content p {
    font-size: .8rem;
}

#welcome .welcome-book{
    display: grid;
    /* grid-template-columns: 2fr; */
    padding: .8rem;
}

.book-img {
    width: 90%;
    min-height: 400px;
    padding: 1rem 1.2rem;
    /* margin-top: 1rem; */
}


.welcome-book .book-content {
    width: 100%;
    padding: .6rem .7rem;
}
 
#testimonial h2 {
    padding-bottom: none;
    margin-bottom: none;
}



.testimonial {
    width: 100%;
    display: block;
    /* grid-template-columns: auto; */
}

.testimonials {
    border: #fff solid 1px;
    margin: 1rem 0;
}

.testimonials:first-child {
    margin-top: none;
}

.testimonials img {
    width: 100px;
    height: 100px;
}

.testimonials .test-speech {
    margin-top: -1rem;
    text-align: center/justify;
}



.testimonials .test-speech h3 {
    padding-bottom: 1rem;
    margin-top: .5rem;
    text-align: center;
    margin-bottom: -1.2rem;
}

#payment {
    margin: 1rem;
    display: block;
}

.payments {
    display: block;
}


#payment .advert img{
    width: 200px;
    height: 300px;
}

.menu-wrap {
    width: 100%;
    height: 100%;
}

.menu-wrap .menu > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    height: 70vw;
    /* margin-top: -15rem; */
    padding: -1rem;
    /* flex: none; */
}

.menu-wrap.menu > div > div {
    max-width: 50vw;
    max-width: 50vw;
}


/* for  screen sizes less than 500px*/

/* @media (max-width: 500px) {
    #navbar {
        flex-direction: rows;
        justify-content: space-evenly;

    }

    div.logo {
        padding: -2rem;
    }

    #navbar .social {
        display: none;
        padding: -2rem;
    }
    
    .socials {
        display: flex;
    }


    Showcase Section
    #showcase {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center/justify;
    }

    #showcase h1 {
        padding-top: 4rem;
        font-size: 1.3rem;
    }

    The welcome section
    #welcome {
        height: 100%;
    }

    #welcome .welcome-training{
        display: block;
        flex-direction: column;
        width: 100%;
    }

    #welcome .training-content {
        width: 100%;
    }

    .training-img {
        background: url('../img/about.jpg')no-repeat center center/cover;
        padding: 0 2.5rem;
        height: 200px;
        padding: 2rem;
        margin-bottom: .5rem;
        width: 100%;
    }

    What You will learn section
    #learn h1 {
        font-size: 1.1rem;
    }


    #learn .items {
        display: grid;
        grid-template-columns: repeat(2, auto);
        font-size: .8rem;
    }

    The Testimonial Section
    #testimonial {
        padding: 1.3rem;
    }

    .testimonials > div {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: auto;
        border-bottom: #fff dashed 2px;
    }

    .testimonias > div {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: auto;
        border-bottom: #fff dashed 2px;
    }
    
    .testimonials .box {
        display: none;
    }

    .testimonias .box {
        display: none;
    }

    .testimonials img {
        height: 200px;
        width: 100%;
    }

    .testimonias img {
        height: 200px;
        width: 100%;
    }

    .testimonials .test-speech {
        margin: auto;
        text-align: center/justify;
    }

    .testimonias .test-speech {
        margin: auto;
        text-align: center/justify;
    }

    .testimonials .test-speech h3 {
        text-align: center;
        transform: none;
    }

    .testimonias .test-speech h3 {
        text-align: center;
        transform: none;
    }
}

@media (max-width:320px) {
    #navbar {
        display: flex;
    }   

    #navbar ul {
        margin-top: -3rem;
    }

    #showcase {
        height: 100vh;
        display: inherit;
        width: 100%;
    }

    #showcase .showcase-content{
        padding-top: 7rem;
    }

    #showcase .showcase-container h1 {
        letter-spacing: 0.7;
        display: block;
        text-align: center;
    }

    .footer {
        font-size: .9rem;
    }
} */

